* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
  text-align: center;
}

h1 {
  margin: 10px 15px;
  padding: 10px 15px;
}

h2 {
  color: darkblue;
}

h2,
p,
.skills li {
  font-family: 'Abel', sans-serif;
  margin: 20px 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: darkgray;
}

a:hover {
  color: rgb(196, 122, 11);
}


/* ==========================
  Base Layout Styles
============================ */

.name {
  font-size: 2em;
}

.name ,
.main-nav ,
.main-nav li {
  text-align: center;
  background: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name ,
.main-nav a {
  padding: 10px 15px;
  display: block;
}





/*--- Layout Containers ---*/

.name {
  float: left;
  margin-left: 20px;
}

.profile-image {
  width: 200px;
}

img {
  width: 300px;
  text-align: center;
  display: block;
  margin: 0 auto;
}


.main-header {
  background-color: rgb(240, 240, 240);
  padding: 2em 0;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  width: 90%;
  text-align: center;
  display: inline-block;
}

.col {
  padding-left: 1em;
  padding-right: 1em;
 }

.home {
  background-color: rgb(240, 240, 240);
}

div {
  padding: 1.5em 0;
}

.skills {
  text-align: center;
}

#skills {
  margin-bottom: 2em;
}

.main-footer {
  background-color: rgb(240, 240, 240);
  padding: 2em 0;
  text-align: center;
}

.s-name {
  float: left;
  margin-left: 30px;
}

.back {
  float: right;
  margin-right: 20px;
}

.screen {
  display: none;
}


/* ==========================
  Media Queries
============================ */

@media (min-width: 769px) {

  .container {
    width: 85%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  .col {
    width: 45%;
    vertical-align: top;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;   
  }

  .name ,
  .main-nav ,
  .main-nav li {
    display: inline-block;
  }

  .profile-image {
    float: right;
    width: 250px;
    margin-left: 100px;
    margin-right: 100px;
  }

  img {
    padding-left: 1em;
    padding-right: 1em;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .back {
    display: none;
  }

  .screen {
    display: contents;
    float: right;
  }

  .bottom-nav li {
    float: right;
    margin-right: 30px;
  }

}


@media (min-width: 1024px) {

  .profile-image {
    float: right;
    width: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .name ,
  .main-nav ,
  .main-nav li {
    display: inline-block;
    justify-content: space-between;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  .col {
    width: 30%;
    vertical-align: top;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;   
  }

}





















